<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link th:href="@{/webjars/bootstrap/4.3.1/css/bootstrap.css}" rel="stylesheet">

    <link th:href="@{/css/dashboard.css}" rel="stylesheet">

    <title>labAddOrEdit</title>
</head>
<body>

<div th:replace="admin/commons/bar::topbar"></div>

<div class="container-fluid">
    <div class="row">

        <div th:replace="admin/commons/bar::sidebar(activeStatus='labInfos')"></div>

        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
            <form method="post" th:action="@{/admin/lab}" style="padding-top: 15px">

                <input type="hidden" name="_method" value="put" th:if="${lab!=null}">
                <input type="hidden" name="labId" th:value="${lab!=null}?${lab.labId}">

                <div class="form-row">
                    <div class="form-group col-md-12">
                        <label for="inputLabName">实验室名称</label>
                        <input name="labName" th:value="${lab!=null}?${lab.labName}" type="text" class="form-control" id="inputLabName" placeholder="请填写实验室名称" required>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-12">
                        <label for="inputLabAddress">实验室地址</label>
                        <input name="labAddress" th:value="${lab!=null}?${lab.labAddress}" type="text" class="form-control" id="inputLabAddress" placeholder="请填写实验室地址" required>
                    </div>
                </div>
                <div class="form-row">
                    <button type="submit" class="btn btn-sm btn-primary" th:text="${lab!=null?'更新':'录入'}"></button>&nbsp;&nbsp;
                    <a th:href="@{/admin/labs/1}" class="btn btn-sm btn-secondary" th:text="取消"></a>
                </div>
            </form>
        </main>
    </div>
</div>


<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script th:src="@{/webjars/jquery/3.4.1/jquery.min.js}" type="text/javascript"></script>
<script th:src="@{/webjars/popper.js/1.14.3/popper.min.js}" type="text/javascript"></script>
<script th:src="@{/webjars/bootstrap/4.3.1/js/bootstrap.min.js}" type="text/javascript"></script>
<script th:src="@{/webjars/feather-icons/4.10.0/dist/feather.min.js}" type="text/javascript"></script>

<script th:src="@{/js/dashboard.js}" type="text/javascript"></script>

</body>
</html>