<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link th:href="@{/webjars/bootstrap/4.3.1/css/bootstrap.css}" rel="stylesheet">

    <link th:href="@{/css/dashboard.css}" rel="stylesheet">

    <title>courseInfos</title>
</head>
<body>

<div th:replace="teacher/commons/bar::topbar"></div>

<div class="container-fluid">
    <div class="row">
        <nav th:if="${session.orderId==null}">
            <div th:replace="teacher/commons/bar::sidebar(activeStatus='courseInfo')"></div>
        </nav>
        <nav th:if="${session.orderId!=null}">
            <div th:replace="teacher/commons/bar::sidebar(activeStatus='orderLab')"></div>
        </nav>

        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
            <form class="form-inline" style="padding-top: 15px" method="get" th:action="@{/teacher/courses/}+${session.loginUser.teacherId}">
                <label class="sr-only" for="inlineFormInputCourseName">授课名称</label>
                <input th:value="${conditionBody!=null}?${conditionBody[0]}" name="courseName" type="text" class="form-control mb-2 mr-sm-2" id="inlineFormInputCourseName" placeholder="查询授课名称">

                <label class="sr-only" for="inlineFormInputGroupName">授课班级</label>
                <input th:value="${conditionBody!=null}?${conditionBody[1]}" name="groupName" type="text" class="form-control mb-2 mr-sm-2" id="inlineFormInputGroupName" placeholder="查询授课班级">

                <button type="submit" class="btn btn-primary mb-2">查询</button>
            </form>

            <table class="table table-sm table-striped">
                <thead>
                <tr>
                    <th scope="col">序号</th>
                    <th scope="col">授课名称</th>
                    <th scope="col">授课班级</th>
                    <th scope="col" th:if="${session.orderId!=null}">操作</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="course,courseStat:${pageBean.getList()}">
                    <th scope="row" th:text="${courseStat.count}"></th>
                    <td th:text="${course.courseName}"></td>
                    <td th:text="${course.groups[0].groupName}"></td>
                    <td th:if="${session.orderId!=null}">
                        <button th:attr="updateUri=@{/teacher/order/}+${session.orderId}+'/'+${course.courseId}+'/'+${session.loginUser.teacherId}" type="button" class="btn btn-sm btn-primary updateBtn">预约</button>
                        <a th:href="@{/teacher/orderLabs/1}" class="btn btn-sm btn-secondary">取消</a>
                    </td>
                </tr>
                </tbody>
            </table>

            <form id="updateOrderForm" method="post">
                <input type="hidden" name="_method" value="put">
            </form>

            <nav aria-label="Page navigation example" th:if="${conditionBody==null}">
                <ul class="pagination justify-content-end">
                    <li th:class="${pageBean.getCurrentPage()==1?'page-item disabled':'page-item'}">
                        <a class="page-link" th:href="@{/teacher/courses/}+${pageBean.getCurrentPage()-1}+'/'+${session.loginUser.teacherId}" tabindex="-1" aria-disabled="true">上一页</a>
                    </li>
                    <li th:each="index:${#numbers.sequence(1, pageBean.totalPage)}" th:class="${pageBean.getCurrentPage()==index?'page-item active':'page-item'}">
                        <a th:text="${index}" class="page-link" th:href="@{/teacher/courses/}+${index}+'/'+${session.loginUser.teacherId}"></a>
                    </li>
                    <li th:class="${pageBean.getCurrentPage()==pageBean.getTotalPage()?'page-item disabled':'page-item'}">
                        <a class="page-link" th:href="@{/teacher/courses/}+${pageBean.getCurrentPage()+1}+'/'+${session.loginUser.teacherId}">下一页</a>
                    </li>
                </ul>
            </nav>
        </main>
    </div>
</div>


<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script th:src="@{/webjars/jquery/3.4.1/jquery.min.js}" type="text/javascript"></script>
<script th:src="@{/webjars/popper.js/1.14.3/popper.min.js}" type="text/javascript"></script>
<script th:src="@{/webjars/bootstrap/4.3.1/js/bootstrap.min.js}" type="text/javascript"></script>
<script th:src="@{/webjars/feather-icons/4.10.0/dist/feather.min.js}" type="text/javascript"></script>

<script th:src="@{/js/dashboard.js}" type="text/javascript"></script>

<script>
    $(".updateBtn").click(function () {
        $("#updateOrderForm").attr("action", $(this).attr("updateUri")).submit();
    });
</script>
</body>
</html>