<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link th:href="@{/webjars/bootstrap/4.3.1/css/bootstrap.css}" rel="stylesheet">
    <link th:href="@{/css/signin.css}" rel="stylesheet">

    <title>login</title>
</head>
<body class="text-center">

<form class="form-signin" method="post" th:action="@{/user/login}">
    <img class="mb-4" th:src="@{/img/logo.png}" alt="logo" width="72" height="72">
    <h1 class="h3 mb-3 font-weight-normal">实验室管理平台</h1>
    <p style="color: red;" th:text="${msg}" th:if="${not #strings.isEmpty(msg)}"></p>
    <label for="inputnumber" class="sr-only">用户名</label>
    <input type="text" id="inputnumber" th:name="number" class="form-control" placeholder="用户名" required autofocus>
    <label for="inputPassword" class="sr-only">密码</label>
    <input type="password" id="inputPassword" th:name="password" class="form-control" placeholder="密码" required>
    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <label class="input-group-text" for="inputGroupSelect01">角色</label>
        </div>
        <select class="custom-select" id="inputGroupSelect01" th:name="role">
            <option selected value="">-请选择-</option>
            <option value="student">学生</option>
            <option value="teacher">教师</option>
            <option value="admin">管理员</option>
        </select>
    </div>
    <button class="btn btn-lg btn-primary btn-block" type="submit">登录</button>
    <p class="mt-5 mb-3 text-muted">
        <span>&copy; 2019.5-2019.6</span>
        &nbsp;&nbsp;
        <span><a th:href="@{http://www.beian.miit.gov.cn/}">沪ICP备19018554号</a></span>
    </p>
</form>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script th:src="@{/webjars/jquery/3.4.1/jquery.min.js}" type="text/javascript"></script>
<script th:src="@{/webjars/popper.js/1.14.3/popper.min.js}" type="text/javascript"></script>
<script th:src="@{/webjars/bootstrap/4.3.1/js/bootstrap.min.js}" type="text/javascript"></script>

</body>
</html>