<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>teacherBar</title>
</head>
<body>
<!--top bar-->
<nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow" th:fragment="topbar">
    <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#">[[${session.loginUser.teacherName}]]</a>
    <ul class="navbar-nav px-3">
        <li class="nav-item text-nowrap">
            <a class="nav-link" th:href="@{/user/logout}">退出</a>
        </li>
    </ul>
    <button class="navbar-toggler d-md-none" type="button" data-toggle="collapse" data-target="#sidebar" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
</nav>

<!--side bar-->
<nav class="col-md-2 collapse d-md-block bg-light sidebar" id="sidebar" th:fragment="sidebar">
    <div class="sidebar-sticky">
        <ul class="nav flex-column">
            <li class="nav-item">
                <a th:class="${activeStatus=='main'?'nav-link active':'nav-link'}" th:href="@{/teacherMain.html}">
                    <span data-feather="home"></span>
                    首页 <span class="sr-only">(current)</span>
                </a>
            </li>
            <li class="nav-item">
                <a th:class="${activeStatus=='selfInfo'?'nav-link active':'nav-link'}" th:href="@{/teacher}">
                    <span data-feather="user"></span>
                    个人信息
                </a>
            </li>
            <li class="nav-item">
                <a th:class="${activeStatus=='courseInfo'?'nav-link active':'nav-link'}" th:href="@{/teacher/courses/1/}+${session.loginUser.teacherId}">
                    <span data-feather="calendar"></span>
                    授课安排
                </a>
            </li>
            <li class="nav-item">
                <a th:class="${activeStatus=='orderLab'?'nav-link active':'nav-link'}" th:href="@{/teacher/orderLabs/1}">
                    <span data-feather="arrow-up-right"></span>
                    实验室预约
                </a>
            </li>
            <li class="nav-item">
                <a th:class="${activeStatus=='orderRecord'?'nav-link active':'nav-link'}" th:href="@{/teacher/orderedLabs/1/}+${session.loginUser.teacherId}">
                    <span data-feather="check-circle"></span>
                    预约记录
                </a>
            </li>
            <li class="nav-item">
                <a th:class="${activeStatus=='reportReview'?'nav-link active':'nav-link'}" th:href="@{/teacher/reports}">
                    <span data-feather="edit-3"></span>
                    报告批阅
                </a>
            </li>
        </ul>
    </div>
</nav>

</body>
</html>